<div id="login-page">
<img src="/assets/logo" alt="air tailor logo">
<h2>Welcome, you can log in<br> securely below.</h2>

<%= form_tag '/login' do %>
  <%= text_field_tag :email, nil, placeholder: 'Email' %><br>

  <%= password_field_tag :password, nil, placeholder: 'Password' %><br>
  <%= submit_tag "Log In" %>
  <a href="mailto:brian@airtailor.com?&subject=Forgot%20Password">Forgot your password?</a>
<% end %>


