<main>
<% if current_user.is_admin? %>
  <div class="section-header">
    <h2>Manage Messages</h2>
  </div>
<% end %>

<div class="container">

<br><br><br><br>

<% @conversations.each do |conversation| %>
  <%= conversation.id %><br>

<% end %>

<% @users.each do |user| %>
  <%= user.business_name %><br>

<% end %>











</div>

</main>
