<main>
  <div class="section-header">
    <h2>Admin Home</h2>
  </div>

  <div class="container">

    <div class="admin-welcome">
      <h2>Greetings Master</h2>
      <p>Whatchu Wanna Do?</p>
    </div>

    <div id="admin-manage-area">

      <div id="admin-orders">
        <a href="/orders/new_orders"><button class="caps">Manage<br> New Orders</button></a><br><br>
        <%= @orders.count %> unassigned orders
      </div>

      <div id="admin-messages">
        <a href="/conversations"><button class="caps">Manage<br> Messages</button></a><br><br>
        <%= @messages.count-3 %> unread messages
      </div>

      <div id="minions">
        <a href="/users"><button class="caps">Manage<br> Tailors</button></a>
      </div>

    </div>

    <br>
    <hr>
    <br>

    <h3>Orders Placed this month: <%= @this_month.count %></h3>
    <h3>Orders Placed last month: <%= @last_month.count %></h3>






  </div>
</main>






