

<div class="section-header">
  <h2>Tailors / All</h2>
</div>

<div class="container">

<div id="all-tailors">
  <h3 class="caps">Current Tailors</h3>
  <% @users.each do |user| %>
      <a href="/users/<%= user.id %>"><p><%= user.business_name %></p></a>
  <% end %>
</div>
