/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* general styles and layout */

/* color palette link:http://paletton.com/#uid=53+0u0khHVI00++4Z+6sgRhER7o */

body {
  height: 100%;
  min-width: 1200px;
  padding: 0;
  margin: 0;
  font-family: raleway;
  font-size: 14px;
  color: #000033;
  overflow: auto;
}

.alert {
  position: absolute;
  top: 80px;
  width: 80%;
  background-color: lightgreen;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 1px solid green;
  padding-left: 20px;
  margin-left: 20px;
  z-index: 1;
}

iframe {
  width: 900px;
  height: 1000px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: alegreya;
}

input:focus{
    outline: none;
}

.caps {
  text-transform: uppercase;
}

.red {
  color: red;
}

.blue {
  color: #000033;
}

.blueback {
  background-color: #D8EDFC;
}

.orange {
  color: orange;
}

.green {
  color: green;
}

.underline {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #000033;
}

a:visited {
  color: #000033;
}

#user-index {
  margin-left: 30px;
}

#user-index span {
  font-size: 18px;
  font-family: raleway;
}

main {
  height: 100%;
  min-height: 100vh;
  border-left: #000033 1px solid;
  width: 85%;
  float: left;
}

.section-header {
  border-bottom: 1px #000033 solid;
  background-color: #D8EDFC;
  height: 60px;
  line-height: 60px;
  width: 85.9%;
  position: absolute;
  z-index: 1;
}

.whiteback {
  background-color: white;
}

.section-header h2 {
  float: left;
  padding-left: 30px;
  margin-top: 0;
  width: 80%;
}

.section-header a:hover {
  text-decoration: underline;
}

.tailor-main {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.container {
  margin-top: 50px;
  overflow: auto;
  height: 100%;
}

/* login page */

#login-page {
  width: 30%;
  min-width: 400px;
  margin: 10% auto;
}

#login-page h3 {
  margin-left: 50px;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: normal;
  font-family: raleway;
}

#login-page img {
  width: 200px;
}

#login-page input {
  border: none;
}

#login-page input[type="password"],
#login-page input[type="text"]{
  background-color: rgba(216, 237, 252, .5);
  margin-top: 10px;
  height: 40px;
  width:  360px;
  padding-left: 40px;
  border-radius: 5px;
  border: 1px solid #000033;
}

#login-page input[type="text"] {
  background-image: url('/assets/email.png');
  background-size: 20px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

#login-page input[type="password"] {
  background-image: url('/assets/password.png');
  background-size: 20px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

#login-page input[type="submit"]{
  background-color: #000033;
  color: white;
  margin-top: 15px;
  width: 40%;
  height: 40px;
  border-radius: 5px;
  font-size: 12px;
}

#login-page a {
  display: inline-block;
  margin-left: 20px;
  font-family: raleway;
  font-weight: normal;
}

/* aside */
aside {
  width: 14%;
  min-width: 125px;
  float: left;
  margin: 0;
  font-family: raleway;
  font-weight: 200;
}

aside #logo {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
}

aside h5 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;
  font-family: raleway;
}

aside input[type="search"] {
  height: 30px;
  display: block;
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  text-indent: 35px;
  border-radius: 20px;
  border: none;
  background-color: lightgrey;
  background-image: url('/assets/search.png');
  background-position: 5px 5px;
  background-size: 20px;
  background-repeat: no-repeat;
}

aside ::-webkit-input-placeholder {
  color: grey;
  font-size: 12px;
}

nav ul {
  text-align: left;
  padding-left: 0;
}

nav li {
  list-style: none;
  height: 40px;
}

nav img {
  display: inline-block;
  vertical-align: -4px;
  width: 20px;
  padding-right: 10px;
}

nav li a {
  padding-left: 5%;
  display: inline-block;
  width:  95%;
  line-height: 40px;
}

nav li a:hover {
  background-color: #D8EDFC;
}

nav li:last-of-type {

}

.current-user {
  margin-left: 10px;
  position: fixed;
  bottom: 10px;
}

/* admin home page */

.admin-welcome {
  text-align: center;
  text-shadow: 0 1px 2px grey;
}

.admin-welcome h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 100px;
}

.admin-welcome p {
  font-size: 18px;
  margin-bottom: 50px;
}

.admin-column {
  margin-left: 15%;
  width: 15%;
  float: left;
}

.admin-column span {
  font-size: 18px;
  font-family: raleway;
}

#admin-manage-area {
  overflow: auto;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

#admin-orders, #admin-messages, #minions {
  float: left;
  width: 30%;
  margin-right: 1.5%;
  margin-left: 1.5%;
}

#admin-manage-area button {
  width: 160px;
  height: 60px;
  background-color: #D8EDFC;
  color: #000033;
  border-radius: 10px;
  font-weight: bold;
}

#admin-manage-area button:hover {
  cursor: pointer;
  width: 161px;
  height: 61px;
}



/* order assignment page */
#manage-orders,
#order-assignment,
#customer-details {
  width: 31%;
  float: left;
  margin-top: 30px;
}

#manage-orders {
  margin-left: 30px;
  margin-bottom: 100px;
}

#manage-orders p, #order-assignment p {
  width: 80%;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.selected {
  background-color: rgba(216, 237, 252, .5);
}

select:hover {
  cursor: pointer;
}

#go-to-order,
#change-tailor,
#kit-only,
#edit-customer,
#kit-order {
  width: 100px;
  height: 30px;
  background-color: #D8EDFC;
  border-radius: 10px;
}

#welcome-kit-section form {
  width: 200px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 20px;
}

#edit-customer {
  margin-top: 20px;
}

#edit-customer:hover {
  width: 101px;
  height: 31px;
}

#change-tailor {
  margin-left: 10px;
}

#change-tailor:hover,
#go-to-order:hover {
  cursor: pointer;
  width: 101px;
  height: 31px;
  margin-bottom: -1px;
}

#kit-only:hover,
#kit-order:hover {
  cursor: pointer;
  width: 101px;
  height: 31px;
  margin-left: -1px;
  margin-top: -1px;
}

#order-assignment hr {
  width: 75%;
  margin-left: 0;
  margin-bottom: 30px;
}

#kit-only input,
#kit-order input {
  width: 100%;
  background-color: #D8EDFC;
  border: none;

}

#welcome-kit-button,
.welcome-kit-label {
  width: 200px;
  margin-top: 10px;
  height: 30px;
  background-color: #D8EDFC;
  border-radius: 10px;
}

#welcome-kit-button:hover,
.welcome-kit-label:hover {
  cursor: pointer;
  width: 201px;
  height: 31px;
  margin-top: 9px;
}

#welcome-kit-label {
  width: 800px;
  font-size: 18px;
}

#welcome-return-address {
  padding-top: 50px;
  padding-left: 50px;
}

#welcome-to-address {
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
}


/* tailor SHOW page */

#tailor-show-greeting {
  text-align: center;
  color: #000033;
  text-shadow: 0 1px 3px grey;
}

#tailor-show-greeting h2 {
  font-size: 48px;
  font-family: alegreya;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 0;
}

#tailor-show-greeting p {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 80px;
  font-weight: bold;
}

#tailor-show-boxes {
  width: 756px;
  margin: 0 auto;
  overflow: auto;
}


.tailor-show-box {
  float: left;
  width: 150px;
  height: 300px;
  margin: 5px 50px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  box-shadow: 0px 2px 5px black;
  border-radius: 3px;
}

.tailor-show-box:hover {
  box-shadow: 1px 3px 5px black;
}

.tailor-show-number {
  font-size: 48px;
  font-family: alegreya;
  font-weight: 800;
  margin: 0;
}

.tailor-show-box img {
  width: 30%;
  padding-top: 40px;
  padding-bottom: 25px;
}

#tailor-show-late-box {
  color: red;
}

#tailor-show-late-exclamation {
  font-size: 48px;
  font-family: alegreya;
  font-weight: bold;
  display: inline-block;
  line-height: 40px;
  padding-top: 40px;
  padding-bottom: 32px;
  text-decoration: none;
}

.tailor-show-box span {
  text-decoration: underline;
}


/* old tailor show css */


.tailor-welcome {
  text-align: center;
}

.tailor-welcome h2 {
  font-size: 48px;
  margin-bottom: 0;
  padding-top: 50px;
  margin-top: 0;
}

.tailor-welcome p {
  font-size: 18px;
  margin-bottom: 50px;
}

#orders-quick-glance{
  border: 2px solid #000033;
  border-radius: 10px;
  width: 400px;
  height: 100px;
  margin: 0 auto;
  padding: 10px 40px;
  overflow: auto;
}

#orders-quick-glance-text {
  width: 60%;
  float: left;
  margin-top: 15px;
}

#orders-quick-glance-text p {
  margin-top: 1px;
}

#orders-quick-glance span {
  padding-left: 20px;
}

#view-orders {
  display: block;
  text-align: center;
  padding-top: 15px;
  width: 120px;
  height: 30px;
  border: 1px solid #000033;
  border-radius: 10px;
  margin-top: 25px;
  float: right;
  font-size: 12px;
  background-color: #D8EDFC;
}

#view-orders:hover {
  background-color: rgba(216, 237, 252, .2);
}

#messages-quick-glance {
  clear: both;
  border: 2px solid #000033;
  border-radius: 10px;
  padding: 0 30px;
  width: 700px;
  margin: 0 auto;
  height: 100px;
  margin-top: 50px;
}

#messages-quick-glance p {
  margin-top: 40px;
  width: 500px;
  float: left;
}

#view-messages {
  display: block;
  text-align: center;
  padding-top: 15px;
  width: 120px;
  height: 30px;
  border: 1px solid #000033;
  margin-top: 25px;
  float: right;
  font-size: 12px;
  background-color: #D8EDFC;
  border-radius: 10px;
}

#view-messages:hover {
  background-color: rgba(216, 237, 252, .2);
}

#view-messages-submit {
  border: none;
  background-color: white;
  text-align: center;
  width: 120px;
  height: 45px;
  border: 1px solid #000033;
  margin-top: 25px;
  float: right;
  font-size: 12px;
  background-color: #D8EDFC;
  border-radius: 10px;
}

#view-messages-submit:hover {
  cursor: pointer;
  background-color: rgba(216, 237, 252, .2);
}

#new-messages {
  color: red;
  font-size: 18px;
}

/*  tailor index */

#edit-tailor {
  display: inline-block;
  text-align: center;
  line-height: 30px;
  width: 100px;
  height: 30px;
  background-color: #D8EDFC;
  border-radius: 10px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
}

#edit-tailor:hover {
  background-color: white;
}

/* orders index page */

#switch-tailor {
  float: left;
  width: 30%;
}

#switch-tailor a:first-child {
  margin-right: 90px;
}

.order-column {
  width: 24%;
  float: left;
}

.order-row {
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;
  height: 40px;
  line-height: 40px;
}

.order-row:hover {
  background-color: rgba(216, 237, 252, .3)
}

.order-row-header {
  overflow: auto;
  margin-left: 40px;
  margin-top: 30px;
}

#order-quantity {
  text-align: center;
}


/* orders show page */

.order-show p {
  margin-top: 25px;
}

#item-section {
  float: left;
  margin-top: 50px;
  margin-left: 30px;
  width: 50%;
}

.item {
  padding-left: 30px;
  margin-bottom: 50px;
}

.alteration-list {
  overflow: auto;
  margin-bottom: 50px;
}

.alteration-list h3 {
  margin-top: 0;
}

.alterations-image {
  float: left;
}

.alterations-image img {
  height: 75px;
  width: 75px;
}

.alterations-text {
  float: left;
  margin-left: 50px;
}

#notes-header {
  float: left;
  margin-top: -4px;
  margin-right: 10px;
}

#order-message-section {
  clear: both;
  margin-top: 0;
}

#order-new-message-form {
  text-align: left;
}

textarea#message_text {
  padding: 10px;
  border: 1px solid #000033;
}

#submit-order-message {
  background-color: white;
}

#submit-order-message input {
  border: none;
  background-color: white;
}

#submit-order-message input:hover {
  cursor: pointer;
}

input#submit-order-message:hover {
  cursor: pointer;
}

#order-completed {
  text-align: left;
  margin-bottom: 100px;
  margin-top: 50px;
}

#order-completed button{
  clear: both;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 300px;
  background-color: pink;
  border: 2px hotpink solid;
  font-weight: bold;
}

#check-garment input, #fulfill-order input {
  font-weight: bold;
  width: 100%;
  height: 100%;
  background-color: pink;
  border: none;
}

button#check-garment:hover, button#fulfill-order:hover {
  cursor: pointer;
}

#check-garment input:hover, #fulfill-order input:hover {
  cursor: pointer;
}

#packing-slip-info {
  position: relative;
  width: 590px;
}

#packing-slip {
  width: 530px;
  margin: 0 auto;
  margin-top: 50px;
  font-family: raleway;
}

#packing-slip-label {
  top: 0;
  width: 100%;
}

#packing-slip-info h2 {
  font-family: alegreya;
  font-size: 42px;
  margin-bottom: 20px;
}

#packing-slip-info p {
  font-size: 24px;
}

#packing-slip-info ul {
  list-style-type: none;
}

#packing-slip-info li {
  font-size: 18px;
}

#packing-slip-info-shopify {
  text-align: center;
}

#packing-slip-info-alt {
  text-align: center;
}

#packing-slip-info-img {
  display: block;
  width: 100px;
  margin: auto;
  margin-top: 20px;
}




/* customer measurements */

#customer-measurements {
  float: left;
  text-align: center;
  margin-top: 20px;
  margin-right: 20px;
  position: relative;
  min-width: 375px;
  min-height: 100vh;
}

#customer-measurements button {
  border: 2px solid hotpink;
  background-color: pink;
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
  height: 25px;
}

#measurements-save {
  position: absolute;
  top: 52px;
  left: 295px;
  opacity: 0;
}

#measurements-save input {
  width: 100%;
  height: 100%;
  background-color: pink;
  border: none;
}

#clothes-front-image, #clothes-back-image {
  position: absolute;
  width: 100%;
  transition: all 1s ease;
  top: 85px;
}

#clothes-front-image {
  opacity: 1;
  right: 0px;
}

#clothes-back-image {
  opacity: 0;
  right: 0px;
}

#customer-measurements span {
  padding: 10px;
}

.measurement {
  position: absolute;
  transition: all 2s ease;
}

div.measurement {
  width: 35px;
  height: 25px;
  background-color: white;
  border: 2px solid hotpink;
  line-height: 25px;
}

input.measurement {
  width: 40px;
  height: 25px;
  opacity: 0;
  line-height: 25px;
  text-align: center;
  border: 1px solid pink;
}

.clothes-front {
  opacity: 1;
}

.clothes-back {
  opacity: 0;
}

.sleeve-length {
  top: 110px;
  left: 55px;
}

.shoulder-to-waist {
  top: 135px;
  left: 200px;
}

.chest-bust {
  top: 183px;
  left: 137px;
}

.upper-torso {
  top: 233px;
  left: 137px;
}

.waist {
  top: 288px;
  left: 137px;
}

.pant-length {
  top: 385px;
  left: 72px;
}

.hips {
  top: 325px;
  left: 257px;
}

.thigh {
  top: 440px;
  left: 127px;
}

.knee {
  top: 518px;
  left: 125px;
}

.calf {
  top: 597px;
  left: 123px;
}

.ankle {
  top: 660px;
  left: 122px;
}

.back-width {
  top: 132px;
  left: 167px;
}

.bicep {
  top: 145px;
  left: 45px;
}

.elbow {
  top: 183px;
  left: 22px;
}

.forearm {
  top: 225px;
  left: 5px;
}

.inseam  {
  top: 650px;
  left: 170px;
 }



/* conversations index page */

#all-messages {
  padding-left: 10%;
  max-width: 80%;
  min-width: 800px;
}

#all-conversations {
  padding-left: 10%;
  max-width: 80%;
  min-width: 800px;
  padding-top: 50px;
}

#new-conversation-form {
  margin-top: 100px;
  text-align: center;
}

#start_convo {
  height: 30px;
  border-radius: 10px;
  background-color: #D8EDFC;
}

#start_convo:hover {
  background-color: white;
  cursor: pointer;
}

/* messages index page */

#new-message-form {
  text-align: left;
  margin-left: 30px;
  margin-bottom: 50px;
}

#admin-message {
  width: 70%;
  border: solid #47BB47 2px;
  background-color: #C7F4C7;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px grey;
}

#tailor-message {
  width: 70%;
  margin-left: 19%;
  border: solid #CC3236 2px;
  background-color: #FFCFD0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px grey;
}

#message-body {
  margin-bottom: 20px;
}

/* edit user / edit customer page */

#edit-user-copy {
  width: 30%;
  float: left;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 30px;
}

.customer-edit {
  margin-left: 30px;
}

#edit-user-form {
  width: 40%;
  float: left;
  margin-bottom: 200px;
  padding-top: 30px;
}

#edit-user-form p {
  margin-bottom: 0px;
  font-weight: bold;
}

#edit-user-form input {
  width: 100%;
  height: 20px;
  font-size: 12px;
  border: 1px solid #D8EDFC;
  text-indent: 5px;
}

#edit-user-form input:focus {
  border: 1px solid #000033;
}

#edit-user-form input[type="submit"] {
  height: 40px;
  margin-top: 20px;
  background-color: yellow;
  font-weight: bold;
  border: solid #000033 2px;
  border-radius: 10px;
}

#edit-user-form input[type="submit"]:hover {
  cursor: pointer;
}

#delete-user {
  background-color: #FFAAAA;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  font-weight: bold;

}


