/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* general styles and layout */


body {
  padding: 0;
  margin: 0;
  font-family: cardo;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: montserrat;
}

.caps {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

#user-index {
  margin-left: 30px;
}

#user-index span {
  font-size: 18px;
  font-family: montserrat;
}

aside {
  height: 100vh;
  width: 14%;
  float: left;
  margin: 0;
  border-right: black 1px solid ;
}

#logo {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;

}

main {
  height: 100vh;
  width: 84%;
  float: left;
}

.section-header {
  border-bottom: 1px black solid;
}

.section-header h2 {
  padding-left: 30px;
}

.tailor-main {
  display: block;
  width: 80%;
  margin: 0 auto;
}

/* login page */

#login-logo {
  margin-top: 10%;
}

/* aside */
nav ul {
  text-align: center;
  padding: 0;
}

nav li {
  list-style: none;
  border-top: 1px solid black;
}

nav li a {
  display: inline-block;
  width:  100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

nav li a:hover {
  background-color: lightgrey;
}

nav li:last-of-type {
  border-bottom: 1px solid black;
}

/* admin home page */

.admin-welcome {
  text-align: center;
}

.admin-welcome h2 {
  font-size: 48px;
  margin-bottom: 0;
  margin-top: 50px;
}

.admin-welcome p {
  font-size: 18px;
  margin-bottom: 50px;
}

.admin-column {
  margin-left: 15%;
  width: 15%;
  float: left;
}

.admin-column span {
  font-size: 18px;
  font-family: montserrat;
}

#admin-orders {
  margin-left: 30px;
  margin-bottom: 30px;
}

#minions {
  margin-left: 30px;
  margin-top: 30px;
}

/* order assignment page */

#order-assignment {
  margin-left: 30px;
  margin-top: 50px;
}


/* tailor home page */

.tailor-welcome {
  text-align: center;
}

.tailor-welcome h2 {
  font-size: 48px;
  margin-bottom: 0;
  margin-top: 50px;
}

.tailor-welcome p {
  font-size: 18px;
  margin-bottom: 50px;
}

#orders-quick-glance{
  border: 1px solid black;
  width: 400px;
  height: 100px;
  margin: 0 auto;
  padding: 10px 40px;
}

#orders-quick-glance-text {
  width: 60%;
  float: left;
}

#orders-quick-glance-text p {
  line-height: 100px;
  margin: 0;
}

#orders-quick-glance span {
  padding-left: 20px;
}

#view-orders {
  display: block;
  text-align: center;
  padding-top: 15px;
  width: 120px;
  height: 30px;
  border: 1px solid black;
  margin-top: 25px;
  float: right;
  font-size: 12px;
}

#messages-quick-glance {
  clear: both;
  border: 1px solid black;
  padding: 0 30px;
  width: 700px;
  margin: 0 auto;
  height: 100px;
  margin-top: 50px;
}

#messages-quick-glance p {
  margin-top: 40px;
  width: 500px;
  float: left;
}

#view-messages {
  display: block;
  text-align: center;
  padding-top: 15px;
  width: 120px;
  height: 30px;
  border: 1px solid black;
  margin-top: 25px;
  float: right;
  font-size: 12px;
}

#view-messages-submit {
  border: none;
  background-color: white;
  text-align: center;
  width: 120px;
  height: 45px;
  border: 1px solid black;
  margin-top: 25px;
  float: right;
  font-size: 12px;
}

#view-messages-submit:hover {
  cursor: pointer;
}

#new-messages {
  color: red;
  font-size: 18px;
}

/* orders index page */

.order-column {
  width: 10%;
  float: left;
  padding-left: 5px;
  padding-right: 10%;
  text-align: right;
}

/* orders show page */

.order-show {
  height: 69px;
}

.order-show h2, .order-show p {
  width: 150px;
  float: left;
}

.order-show p {
  margin-top: 25px;
}

#item-section {
  float: left;
  margin-top: 50px;
  margin-left: 30px;
  width: 50%;
}

.item {
  padding-left: 30px;
  margin-bottom: 50px;
}

.alteration-list {
  overflow: auto;
  margin-bottom: 50px;
}

.alteration-list h3 {
  margin-top: 0;
}

.alterations-image {
  float: left;
}

.alterations-image img {
  height: 75px;
  width: 75px;
}

.alterations-text {
  float: left;
  margin-left: 50px;
}

#order-message-section {
  margin-top: 0;
}

#order-new-message-form {
  text-align: left;
}

#submit-order-message {
  background-color: white;
}

#submit-order-message input {
  border: none;
  background-color: white;
}

#order-completed {
  text-align: right;
}

#order-completed button{
  clear: both;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 300px;
  background-color: pink;
  border: 2px hotpink solid;
  margin-top: 50px;
  font-weight: bold;
}



/* customer measurements */

#customer-measurements {
  float: right;
  text-align: center;
  margin-top: 20px;
  margin-right: 10%;
  position: relative;
  width: 375px;
}

#customer-measurements button {
  border: 2px solid hotpink;
  background-color: pink;
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
  height: 25px;
}

#measurements-save {
  position: absolute;
  top: 52px;
  left: 295px;
  opacity: 0;
}

#measurements-save input {
  width: 100%;
  height: 100%;
  background-color: pink;
  border: none;
}

#clothes-front-image, #clothes-back-image {
  position: absolute;
  width: 100%;
  transition: all 1s ease;
  top: 85px;
}

#clothes-front-image {
  opacity: 1;
  right: 0px;
}

#clothes-back-image {
  opacity: 0;
  right: 0px;
}

#customer-measurements span {
  padding: 10px;
}

.measurement {
  position: absolute;
  transition: all 2s ease;
}

div.measurement {
  width: 35px;
  height: 25px;
  background-color: white;
  border: 2px solid hotpink;
  line-height: 25px;
}

input.measurement {
  width: 40px;
  height: 25px;
  opacity: 0;
  line-height: 25px;
  text-align: center;
  border: 1px solid pink;
}

.clothes-front {
  opacity: 1;
}

.clothes-back {
  opacity: 0;
}

.sleeve-length {
  top: 110px;
  left: 55px;
}

.shoulder-to-waist {
  top: 135px;
  left: 200px;
}

.chest-bust {
  top: 183px;
  left: 137px;
}

.upper-torso {
  top: 233px;
  left: 137px;
}

.waist {
  top: 288px;
  left: 137px;
}

.pant-length {
  top: 385px;
  left: 72px;
}

.hips {
  top: 325px;
  left: 257px;
}

.thigh {
  top: 440px;
  left: 127px;
}

.knee {
  top: 518px;
  left: 125px;
}

.calf {
  top: 597px;
  left: 123px;
}

.ankle {
  top: 660px;
  left: 122px;
}

.back-width {
  top: 132px;
  left: 167px;
}

.bicep {
  top: 145px;
  left: 45px;
}

.elbow {
  top: 183px;
  left: 22px;
}

.forearm {
  top: 225px;
  left: 5px;
}

.inseam  {
  top: 650px;
  left: 170px;
 }



/* conversations index page */

#all-conversations {
  padding-left: 10%;
  max-width: 80%;
  min-width: 800px;
  margin-top: 50px;
}

#new-conversation-form {
  text-align: center;
}

/* messages index page */

#new-message-form {
  text-align: left;
  margin-left: 30px;
  margin-bottom: 100px;
}

#admin-message {
  width: 80%;
  border: solid #47BB47 2px;
  background-color: #C7F4C7;
  border-radius: 10px;
  padding: 20px;
}

#tailor-message {
  width: 80%;
  margin-left: 19%;
  border: solid #CC3236 2px;
  background-color: #FFCFD0;
  border-radius: 10px;
  padding: 20px;
}

#message-body {
  margin-bottom: 20px;
}

/* edit user page */

#edit-user-copy {
  width: 30%;
  float: left;
  padding-left: 5%;
  padding-right: 5%;
}

#edit-user-form {
  width: 60%;
  float: left;
  margin-bottom: 200px;
}

#edit-user-form p {
  margin-bottom: 0;
  font-weight: bold;
}

#edit-user-form input {
  width: 100%;
  height: 20px;
  font-size: 12px;
}

#edit-user-form input[type="submit"] {
  height: 30px;
  background-color: yellow;
  font-weight: bold;
  border: solid black 2px;
  border-radius: 10px;
}
